.DetailContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 155vh;
    flex-direction: column;
    padding-top: 1rem;
    width: 100%;
    background: $blanco;
    .DetailImgContainer {
        width: 50%;
        height: 50%;
        .DetailImg {
            height: 70%;
            width: 70%;
            object-fit: cover;
            padding: 2rem 0rem 0rem 10rem;
        }
    }
    .DetailTitle {
        padding-top: 1rem;
    }
    .DetailInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 30%;
        padding-bottom: 2rem;
        p {
            font-size: 0.7rem;
            background: $rosa;
            color: $negro;
            padding: 1.5rem;
            border: solid 1px $blanco;
            border-radius: 15%;
        }
    }
    .DetailDescription {
        font-size: 1rem;
        width: 60%;
        text-align: center;
        padding-bottom: 4rem;
    }
    .DetailButton {
        font-size: 1rem;
        text-decoration: none;
        background: $negro;
        color: $blanco;
        padding: 1.5rem;
        border: solid 1px $blanco;
        border-radius: 15%;
        text-align: center;
        box-shadow:  7px 0px 7px 1px $rosa;
        transition: all 0.5s ease;
        &:hover {
            background: $rosa;
            color: $negro;
        }
    }
    
}