.ItemCartContainer {
    width: 10rem;
    height: 25vh;
    display: flex;
    background: $blanco;
    position: relative;
    padding-top: 5rem;
    overflow: hidden;
    background: $rosa;
    margin: 2rem 1rem;
    border-radius: 15%;
    .ItemCartMinus {
        width: 1.5rem;
        height: 5vh;
        background: $negro;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 2%;
        cursor: pointer;
        z-index: 2;
        transition: all 0.5s ease;
        &:hover {
            background: $rojo;
        }
        .fa-solid {
            color: $blanco;
    
        }
    }
    .ItemCartPlus {
        width: 1.5rem;
        height: 5vh;
        background: $negro;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 2%;
        cursor: pointer;
        z-index: 2;
        transition: all 0.5s ease;
        &:hover {
            background: $verde;
        }
        .fa-solid {
            color: $blanco;
        }
    }
    .ItemCartInfo {
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        .ItemData {
            font-size: 1rem;
            color: $negro;
            margin-top: -5rem;
            padding-top: 1rem;
        }
    }
}