.navbar {
    background: $rosa;
    position: sticky !important;
    font-size: 14px;
    .container-fluid {
        .navbar-brand {
            color: $blanco;
            font-size: 1rem;
            padding-left: 2rem;
            text-transform: uppercase;
        }
        .navbar-nav {
            .navLinks {
                text-decoration: none;
                color: $blanco;
                font-size: 1rem;
                text-transform: uppercase;
                margin: 0rem 4rem 0rem 5rem;
                padding-top: 1rem;

            }
            .CartWidget {

            }
        }
    }
}