.sliderContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    background: $blanco;
    position: relative;
    padding-top: 5rem;
    overflow: hidden;
    .arrowContainer {
        width: 2rem;
        height: 7vh;
        background: $verde;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 2%;
        cursor: pointer;
        z-index: 2;
        .fa-solid {
            color: $blanco;
            font-size: 14px;
            padding: 0.3rem;
        }
    
    }
    .arrowContainer2 {
        width: 2rem;
        height: 7vh;
        background: $verde;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        right: 2%;
        cursor: pointer;
        z-index: 2;
        .fa-solid {
            color: $blanco;
            font-size: 14px;
            padding: 0.3rem;
        }
    
    }
    .wrapper {
        height: 100%;
        display: flex;
        transform: translateX(0);
        transition: all 0.5s ease;
        .slide {
            width: 100vw;
            height: 100vh;
            display: flex;
            align-items: center;
            .imageContainer {
                height: 100%;
                padding: 2rem 6rem 6rem 10rem;
                img {
                    max-width: 75%;
                    height: auto;
                    border-radius: 15%;
                }
            }
            .infoContainer {
                padding: 2rem 10rem 6rem 6rem;
                width: 150%;
                .title {
                    text-transform: uppercase;
                    font-size: 40px;
                }
                .description {
                    font-size: 26px;
                    letter-spacing: 2px;
                }
                .buttonSlider {
                    @include boton;
                }
            }
        }
    }
    .wrapper1 {
        height: 100%;
        display: flex;
        transform: translateX(1 * -200vh);
        transition: all 0.5s ease;
        .slide {
            width: 100vw;
            height: 100vh;
            display: flex;
            align-items: center;
            .imageContainer {
                height: 100%;
                padding: 2rem 6rem 6rem 10rem;
                img {
                    max-width: 75%;
                    height: auto;
                    border-radius: 15%;
                }
            }
            .infoContainer {
                padding: 0 15rem 8rem 6rem;
                width: 150%;
                .title {
                    text-transform: uppercase;
                    font-size: 40px;
                }
                .description {
                    font-size: 26px;
                    letter-spacing: 2px;
                    width: 150%;
                }
                .buttonSlider {
                    @include boton;
                }
            }
        }
    }
    .wrapper2 {
        height: 100%;
        display: flex;
        transform: translateX(1 * -400vh);
        transition: all 0.5s ease;
        .slide {
            width: 100vw;
            height: 100vh;
            display: flex;
            align-items: center;
            .imageContainer {
                height: 100%;
                padding: 2rem 6rem 6rem 10rem;
                img {
                    max-width: 75%;
                    height: auto;
                    border-radius: 15%;
                }
            }
            .infoContainer {
                padding: 0 15rem 8rem 6rem;
                width: 150%;
                .title {
                    text-transform: uppercase;
                    font-size: 40px;
                }
                .description {
                    font-size: 26px;
                    letter-spacing: 2px;
                }
                .buttonSlider {
                    @include boton;
                }
            }
        }
    }
}