$rosa: #F6CBE1;
$verde: #475610;
$blanco: #F7F5DE;
$negro: #130801;

@mixin boton {
    border-radius: 20%;
    background: $verde;
    color: $blanco;
    font-size: 21px;
    font-weight: 200;
    height: 10vh;
    width: 10vw;
    border: none;
    box-shadow:  7px 0px 7px 1px $verde;
}